<div class="tree-content">

	<app-project-settings-tree
		[selected]="selectedNode === 'project-settings'"
		(categoryClicked)="onCategoryClick('project-settings')">
	</app-project-settings-tree>

	<app-scope-models-tree
		[projectId]="projectId"
		[scopeModels]="scopeModels"
		[expanded]="expandedCategory === 'scope-models'"
		[eventModels]="eventModels"
		[eventGroups]="eventGroups"
		[selectedScopeModelId]="selectedScopeModelId"
		[selectedEventModelId]="selectedEventModelId"
		[selectedEventGroupId]="selectedEventGroupId"
		(categoryClicked)="onScopeModelsClicked()">
	</app-scope-models-tree>

	<app-dataset-models-tree
		[projectId]="projectId"
		[datasetModels]="datasetModels"
		[expanded]="expandedCategory === 'dataset-models'"
		[fieldModels]="fieldModels"
		[selectedDatasetModelId]="selectedDatasetModelId"
		[selectedFieldModelId]="selectedFieldModelId"
		(categoryClicked)="onDatasetModelsClicked()">
	</app-dataset-models-tree>

	<app-validator-tree
		[projectId]="projectId"
		[validators]="validators"
		[expanded]="expandedCategory === 'validators'"
		[selectedValidatorId]="selectedValidatorId"
		(categoryClicked)="onValidatorsClicked()">
	</app-validator-tree>

	<app-form-model-tree
		[projectId]="projectId"
		[formModels]="formModels"
		[expanded]="expandedCategory === 'form-models'"
		[layouts]="layouts"
		[selectedFormModelId]="selectedFormModelId"
		[selectedLayoutId]="selectedLayoutId"
		(categoryClicked)="onFormModelClicked()">
	</app-form-model-tree>

	<app-workflow-tree
		[projectId]="projectId"
		[workflows]="workflows"
		[expanded]="expandedCategory === 'workflows'"
		[workflowStates]="workflowStates"
		[workflowActions]="workflowActions"
		[selectedWorkflowId]="selectedWorkflowId"
		[selectedWorkflowStateId]="selectedWorkflowStateId"
		[selectedWorkflowActionId]="selectedWorkflowActionId"
		(categoryClicked)="onWorkflowsClicked()">
	</app-workflow-tree>

	<app-profile-tree
		[projectId]="projectId"
		[profiles]="profiles"
		[expanded]="expandedCategory === 'profiles'"
		[selectedProfileId]="selectedProfileId"
		(categoryClicked)="onProfilesClicked()">
	</app-profile-tree>

	<app-feature-tree
		[projectId]="projectId"
		[features]="features"
		[expanded]="expandedCategory === 'features'"
		[selectedFeatureId]="selectedFeatureId"
		(categoryClicked)="onFeaturesClicked()">
	</app-feature-tree>

	<div class="tree-node">
		<div class="node-content clickable" (click)="onCategoryClick('menus')">
			<mat-icon class="node-icon">menu</mat-icon>
			<span class="node-label">Menus</span>
		</div>
	</div>

	<div class="tree-node">
		<div class="node-content clickable" (click)="onCategoryClick('menus')">
			<mat-icon class="node-icon">payments</mat-icon>
			<span class="node-label">Payment Plans</span>
		</div>
	</div>

	<app-chart-tree
		[projectId]="projectId"
		[charts]="charts"
		[expanded]="expandedCategory === 'charts'"
		[selectedChartId]="selectedChartId"
		(categoryClicked)="onChartClicked()">
	</app-chart-tree>

	<div class="tree-node">
		<div class="node-content clickable" (click)="onCategoryClick('menus')">
			<mat-icon class="node-icon">timeline</mat-icon>
			<span class="node-label">Timelines</span>
		</div>
	</div>

	<app-resource-category-tree
		[projectId]="projectId"
		[resourceCategories]="resourceCategories"
		[expanded]="expandedCategory === 'resource-categories'"
		[selectedResourceCategoryId]="selectedResourceCategoryId"
		(categoryClicked)="onResourceCategoryClicked()">
	</app-resource-category-tree>

	<app-privacy-policy-tree
		[projectId]="projectId"
		[privacyPolicies]="privacyPolicies"
		[expanded]="expandedCategory === 'privacy-policies'"
		[selectedPrivacyPolicyId]="selectedPrivacyPolicyId"
		(categoryClicked)="onPrivacyPolicyClicked()">
	</app-privacy-policy-tree>

	<app-report-tree
		[projectId]="projectId"
		[reports]="reports"
		[expanded]="expandedCategory === 'reports'"
		[selectedReportId]="selectedReportId"
		(categoryClicked)="onReportClicked()">
	</app-report-tree>

	<div class="tree-node">
		<div class="node-content clickable" (click)="onCategoryClick('menus')">
			<mat-icon class="node-icon">widgets</mat-icon>
			<span class="node-label">Workflow Widgets</span>
		</div>
	</div>

	<div class="tree-node">
		<div class="node-content clickable" (click)="onCategoryClick('menus')">
			<mat-icon class="node-icon">summarize</mat-icon>
			<span class="node-label">Workflow Summaries</span>
		</div>
	</div>

	<div class="tree-node">
		<div class="node-content clickable" (click)="onCategoryClick('menus')">
			<mat-icon class="node-icon">apartment</mat-icon>
			<span class="node-label">Rule Definition Properties</span>
		</div>
	</div>

	<div class="tree-node">
		<div class="node-content clickable" (click)="onCategoryClick('menus')">
			<mat-icon class="node-icon">more_up</mat-icon>
			<span class="node-label">Rule Definition Actions</span>
		</div>
	</div>

	<div class="tree-node">
		<div class="node-content clickable" (click)="onCategoryClick('menus')">
			<mat-icon class="node-icon">alarm</mat-icon>
			<span class="node-label">Crons</span>
		</div>
	</div>
</div>
