<p></p>

<div class="table-container">
	<table
		mat-table
		[dataSource]="extendedScopeSearchResult"
		matSort>
		<tr
			*matNoDataRow
			class="no-data-row">
			<td [attr.colspan]="columnsToDisplay.length">
				{{ loading ? 'Loading data...' : 'No data found' }}
			</td>
		</tr>
		<form [formGroup]="searchForm">
			@for (column of columnsToDisplay; track column) {
				@if (column === 'parentScopeCode') {
					<ng-container
						matColumnDef="parentScopeCode"
						[sticky]="true">
						<th
							mat-header-cell
							*matHeaderCellDef>
							<mat-form-field>
								<mat-label>{{ selectedScopeModelParentModel.shortname | localizeMap }}</mat-label>
								<mat-select
									[formControl]="parentScopeControl"
									multiple>
									@for (parentScope of parentScopes; track parentScope.pk) {
										<mat-option [value]="parentScope.pk">
											{{ parentScope.shortname }}
										</mat-option>
									}
								</mat-select>
							</mat-form-field>
						</th>
						<td
							mat-cell
							*matCellDef="let result"
							class="value-cell">
							{{ result.scope.parentScope.code }}
						</td>
					</ng-container>
				} @else if (column === 'scopeCode') {
					<ng-container
						matColumnDef="scopeCode"
						[sticky]="true">
						<th
							mat-header-cell
							*matHeaderCellDef
							mat-sort-header>
							<mat-form-field (click)="$event.stopPropagation()">
								<input
									matInput
									type="text"
									formControlName="scopeCode"
									[placeholder]="selectedScopeModel.shortname | localizeMap" />
							</mat-form-field>
						</th>
						<td
							mat-cell
							*matCellDef="let result"
							class="value-cell">
							{{ result.scope.shortname }}
						</td>
					</ng-container>
				} @else {
					<ng-container [matColumnDef]="column">
						<th
							mat-header-cell
							*matHeaderCellDef
							mat-sort-header>
							@if (fieldModelMap.has(column)) {
								@let fieldModel = getSearchableFieldFromFormControlId(column);
								@if (fieldModel?.type === FieldModelType.DATE || fieldModel?.type === FieldModelType.DATE_SELECT) {
									<mat-form-field (click)="$event.stopPropagation()">
										<mat-label>{{ fieldModel?.shortname | localizeMap }}</mat-label>
										<input
											matInput
											[formControlName]="fieldModel ? getSFFormControlName(fieldModel) : null"
											[matDatepicker]="datePicker" />
										<mat-datepicker-toggle
											matSuffix
											[for]="datePicker"></mat-datepicker-toggle>
										<mat-datepicker
											#datePicker
											[startAt]="getStartDate()"></mat-datepicker>
									</mat-form-field>
								} @else if (fieldModel?.type === FieldModelType.SELECT || fieldModel?.type === FieldModelType.RADIO) {
									<mat-form-field (click)="$event.stopPropagation()">
										<mat-label>{{ fieldModel?.shortname | localizeMap }}</mat-label>
										<mat-select [formControlName]="fieldModel ? getSFFormControlName(fieldModel) : null">
											@for (value of fieldModel?.possibleValues; track value.id) {
												<mat-option [value]="value.id">
													{{ value.shortname | localizeMap }}
												</mat-option>
											}
										</mat-select>
									</mat-form-field>
								} @else {
									<mat-form-field (click)="$event.stopPropagation()">
										<mat-label>{{ fieldModel?.shortname | localizeMap }}</mat-label>
										<input
											matInput
											[formControlName]="fieldModel ? getSFFormControlName(fieldModel) : null" />
									</mat-form-field>
								}
							} @else if (workflowStatusModelMap.has(column)) {
								<mat-form-field (click)="$event.stopPropagation()">
									<mat-label>{{ workflowStatusModelMap.get(column) | localizeMap }}</mat-label>
									<mat-select
										[formControlName]="getWorkflow(column) ? getWSFormControlName(getWorkflow(column)!) : null"
										multiple>
										@for (state of getWorkflow(column)?.states || []; track state.id) {
											<mat-option [value]="state.id">
												{{ state.shortname | localizeMap }}
											</mat-option>
										}
									</mat-select>
								</mat-form-field>
							}
						</th>
						<td
							mat-cell
							*matCellDef="let result"
							class="value-cell">
							@if (workflowStatusModelMap.has(column)) {
								@for (workflowStatus of result.workflowStatuses; track Object.keys(workflowStatus)) {
									@for (key of Object.keys(workflowStatus); track key) {
										@if (key === column) {
											{{ getStatusModel(column, workflowStatus[key]) | localizeMap }}
										}
									}
								}
							}

							@if (fieldModelMap.has(column)) {
								@let fieldModel = getSearchableFieldFromFormControlId(column);
								@if (result.fieldValues) {
									@for (datasetModelId of Object.keys(result.fieldValues); track datasetModelId) {
										@if (datasetModelId === getSearchableFieldFromFormControlId(column).datasetModelId) {
											@let value = result.fieldValues[datasetModelId][fieldModel.id];
											@if (getIsPossibleValue(datasetModelId, fieldModel.id)) {
												{{ getValueShortname(datasetModelId, fieldModel.id, value) | localizeMap }}
											} @else if (getIsCompleteDate(datasetModelId, fieldModel.id)) {
												@let date = getDateObjectFromString(value);
												{{ date ? (date | dateUTC) : value }}
											} @else {
												{{ value }}
											}
										}
									}
								}
							}
						</td>
					</ng-container>
				}
			}
			<tr
				mat-header-row
				*matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
			<tr
				mat-row
				[class.clickable]="true"
				[class.removed]="result.scope.removed"
				(click)="navigateToScope(result.scope.pk)"
				*matRowDef="let result; columns: columnsToDisplay"></tr>
		</form>
	</table>
	<mat-divider></mat-divider>

	<mat-toolbar>
		<mat-toolbar-row>
			<button
				mat-flat-button
				(click)="createPatient()"
				[disabled]="!writeAccessOnParent"
				type="button">
				<mat-icon>add</mat-icon>
				New {{ selectedScopeModel.shortname | localizeMap | lowercase }}
			</button>

			<span class="toolbar-spacer"></span>

			@if (hasManageDeletedDataFeature) {
				<mat-checkbox
					class="filter-options"
					[formControl]="showRemovedScopesControl">
					Show removed {{ selectedScopeModel.pluralShortname | localizeMap | lowercase }}
				</mat-checkbox>
			}
			<button
				mat-flat-button
				(click)="resetSearchCriteria()"
				type="button">
				<mat-icon>refresh</mat-icon>
				Clear filters
			</button>
			<mat-paginator [length]="resultsLength"></mat-paginator>
		</mat-toolbar-row>
	</mat-toolbar>
</div>
