<div class="content">
	<h1>
		{{ event.shortname }}
		@if (event.locked) {
			<mat-icon>lock</mat-icon>
		}
		<app-audit-trail-button [event]="event" />
	</h1>

	<p>
		@if (event.expected) {
			Expected date: {{ event.expectedDate | dateUTC }} (in {{ dateDifferenceInDays }} days)
		} @else {
			Effective date: {{ event.date | dateUTC }}
			@if (event.endDate) {
				to {{ event.endDate | dateUTC }}
			}
		}
	</p>

	<div class="workflow-statuses">
		<!-- Track statuses using their pk or their workflow id because aggregate workflow statuses don't have any pk -->
		@for (status of event.workflowStatuses; track status.pk || status.workflowId) {
			<app-workflow-status
				[entity]="workflowableEntity.EVENT"
				[workflowStatus]="status"
				[workflowable]="event"
				(actionResponse)="onWorkflowExecution($event)">
			</app-workflow-status>
		}
		<!-- Display workflows that can be created -->
		@for (workflow of event.possibleWorkflows; track workflow.id) {
			<app-workflow-status
				[entity]="workflowableEntity.EVENT"
				[workflowable]="event"
				[workflow]="workflow"
				(actionResponse)="onWorkflowExecution($event)">
			</app-workflow-status>
		}
	</div>

	<p class="actions">
		@if (event.removed) {
			<button
				mat-flat-button
				(click)="restore()"
				type="button">
				Restore
			</button>
		} @else {
			@if (event.locked) {
				<button
					mat-flat-button
					(click)="unlock()"
					type="button">
					Unlock
				</button>
			} @else {
				<button
					mat-flat-button
					(click)="remove()"
					type="button">
					Remove
				</button>
				<button
					mat-flat-button
					(click)="lock()"
					type="button">
					Lock
				</button>
			}
		}
	</p>

	<app-issue-viewer [eventPks]="[event.pk]"></app-issue-viewer>
</div>
