<div class="tree-content">
	@for (node of treeData; track $index) {
		<div class="tree-node">
			<div
				class="node-content"
				[class.selected]="selectedNode === node.id"
				(click)="onNodeClick(node, $event)">
				@if (node.icon) {
					<mat-icon class="node-icon">{{ node.icon }}</mat-icon>
				}
				<span class="node-label">{{ node.label }}</span>
			</div>

			@if (node.expanded && node.children) {
				<div class="node-children">
					@for (child of node.children; track $index) {
						<ng-container *ngTemplateOutlet="nodeTemplate; context: {$implicit: child}"></ng-container>
					}
				</div>
			}
		</div>
	}
</div>

<ng-template #nodeTemplate let-node>
	<div
		class="child-node"
		[class.selected]="isNodeSelected(node)"
		[class.event-model-node]="node.type === 'event-model'"
		[class.event-group-node]="node.type === 'event-group'"
		(click)="onNodeClick(node, $event)">
		@if (node.icon) {
			<mat-icon class="node-icon">{{ node.icon }}</mat-icon>
		}
		<span class="node-label">{{ node.label }}</span>
	</div>

	@if (node.children && node.children.length > 0) {
		<div class="node-children">
			@for (child of node.children; track $index) {
				<ng-container *ngTemplateOutlet="nodeTemplate; context: {$implicit: child}"></ng-container>
			}
		</div>
	}
</ng-template>
