ol.submenu {
	list-style-type: none;
	padding: 0;
	background-color: var(--themed-highlight-color);
	/* width of the border is the width of the toggle icon plus the padding of the form items */
	border-left: calc(24px - 0.4rem) solid var(--mat-sys-primary);

	& li {
		padding: 0;
		border-top: 1px solid var(--light-border-color);
	}
}
.action {
	float: right;
	padding: 0;
}
.statuses {
	height: 24px;
	float: right;
	& .mat-icon + .mat-icon {
		margin-left: 0.2rem;
	}
}
.event {
	display: flex;
	align-items: center;
	padding-left: 0;
	&.open {
		background-color: var(--themed-highlight-color);
	}
	& .label {
		flex-grow: 1;
	}
}
time {
	display: block;
	font-size: 0.8rem;
	color: #555;
}
a.disabled {
	pointer-events: none;
}
