<nav class="side-navigation">
	<h2>
		<a
			[routerLink]="['/scopes-search', scope().modelId]"
			mat-icon-button>
			<mat-icon>arrow_back</mat-icon>
		</a>
		<span [class.removed]="scope().removed">
			{{ scope().shortname }}
			@if (scope().locked) {
				<mat-icon matTooltip="Locked">lock</mat-icon>
			}
		</span>
	</h2>
	<ol>
		<!-- Timeline -->
		<li class="ending-block">
			<a
				[routerLink]="['/crf', scope().pk]"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{exact: true}"
				queryParamsHandling="preserve">
				Timeline
			</a>
		</li>

		<!-- Status -->
		<li class="ending-block">
			<a
				[routerLink]="['/crf', scope().pk, 'dashboard']"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{exact: true}"
				queryParamsHandling="preserve">
				Status
			</a>
		</li>

		<!-- Scope forms -->
		@for (form of scopeForms(); track form.pk) {
			<li>
				<a
					[routerLink]="['/crf', scope().pk, 'forms', form.pk]"
					routerLinkActive="active"
					[routerLinkActiveOptions]="{exact: true}"
					queryParamsHandling="preserve"
					[class.removed]="form.removed">
					{{ form.model.shortname | localizeMap }}
					<span class="statuses">
						<!-- Track statuses using their pk or their workflow id because aggregate workflow statuses don't have any pk -->
						@for (status of form.workflowStatuses; track status.pk || status.workflowId) {
							<mat-icon
								[style.color]="status.state.color"
								[matTooltip]="(status.workflow.shortname | localizeMap) + ' - ' + (status.state.shortname | localizeMap)">
								{{ status.state.icon }}
							</mat-icon>
						}
					</span>
				</a>
			</li>
		}
		<!-- Events -->
		@for (eventGroup of eventGroups(); track eventGroup.id) {
			<li class="starting-block">
				<span>
					{{ eventGroup.shortname | localizeMap }}
					<button
						mat-icon-button
						(click)="toggleEventGroupSort(eventGroup.id)"
						class="action"
						[matTooltip]="'Sort ' + (isSortedChronologically(eventGroup.id) ? 'descending' : 'ascending')">
						<mat-icon>{{ isSortedChronologically(eventGroup.id) ? 'clock_arrow_up' : 'clock_arrow_down' }}</mat-icon>
					</button>
				</span>
			</li>
			@for (event of getEvents(eventGroup.id); track event.pk) {
				<li class="ending-block-light">
					<a
						[routerLink]="['/crf', scope().pk, 'events', event.pk]"
						[queryParams]="generateToggleParameters(event.pk)"
						queryParamsHandling="merge"
						[class.open]="expandedEventPks().includes(event.pk)"
						[class.removed]="event.removed"
						class="event">
						<mat-icon>
							@if (expandedEventPks().includes(event.pk)) {
								arrow_drop_down
							} @else {
								arrow_right
							}
						</mat-icon>
						<span class="label">
							{{ event.longname }}
							<span class="statuses">
								@if (event.locked) {
									<mat-icon matTooltip="Locked">lock</mat-icon>
								}
								<!-- Track statuses using their pk or their workflow id because aggregate workflow statuses don't have any pk -->
								@for (status of event.workflowStatuses; track status.pk || status.workflowId) {
									<mat-icon
										[style.color]="status.state.color"
										[matTooltip]="(status.workflow.shortname | localizeMap) + ' - ' + (status.state.shortname | localizeMap)">
										{{ status.state.icon }}
									</mat-icon>
								}
							</span>
							<time [attr.datetime]="event.date ? (event.date | dateUTC) : (event.expectedDate | dateUTC)">
								@if (event.date) {
									{{ event.date | dateUTC }}
								} @else {
									Expected on {{ event.expectedDate | dateUTC }}
								}
							</time>
						</span>
					</a>

					<!-- Event forms -->
					@if (expandedEventPks().includes(event.pk)) {
						<ol
							[id]="'event-' + event.pk + '-forms'"
							class="submenu">
							@for (form of eventsForms()[event.pk]; track form.pk) {
								<li>
									<a
										[routerLink]="['/crf', scope().pk, 'events', event.pk, 'forms', form.pk]"
										routerLinkActive="active"
										[routerLinkActiveOptions]="{exact: true}"
										queryParamsHandling="preserve"
										[class.removed]="form.removed">
										{{ form.model.shortname | localizeMap }}
										<span class="statuses">
											<!-- Track statuses using their pk or their workflow id because aggregate workflow statuses don't have any pk -->
											@for (status of form.workflowStatuses; track status.pk || status.workflowId) {
												<mat-icon
													[style.color]="status.state.color"
													[matTooltip]="(status.workflow.shortname | localizeMap) + ' - ' + (status.state.shortname | localizeMap)">
													{{ status.state.icon }}
												</mat-icon>
											}
										</span>
									</a>
								</li>
							}
						</ol>
					}
				</li>
			}
		}
	</ol>
	<footer>
		@if (scope().canWrite && !scope().removed && !scope().locked) {
			<button
				id="add-event"
				mat-flat-button
				(click)="createEvent()">
				Add event
			</button>
		}
	</footer>
</nav>
