<div class="content">
	@if (field().model.advancedHelp?.[selectedLanguage]; as advancedHelp) {
		<p
			class="advanced-help"
			[innerHTML]="advancedHelp"></p>
	}

	<h4 class="question-title">
		{{ field().model.shortname | localizer: selectedLanguage }}{{ field().model.required ? '*' : '' }}
	</h4>

	@switch (field().model.type) {
		@case ('RADIO') {
			<mat-radio-group
				class="radio-group"
				[disabled]="disabled()"
				[ngModel]="value()"
				(ngModelChange)="value.set($event)">
				@for (possibleValue of field().model.possibleValues; track possibleValue.id) {
					<mat-radio-button [value]="possibleValue.id">
						{{ possibleValue.shortname | localizer: selectedLanguage }}
					</mat-radio-button>
				}
			</mat-radio-group>
		}
		@case ('STRING') {
			<mat-form-field>
				<mat-label>{{ field().model.inlineHelp }}</mat-label>
				<input
					matInput
					type="text"
					[disabled]="disabled()"
					[ngModel]="value()"
					(ngModelChange)="value.set($event)" />
			</mat-form-field>
		}
		@case ('TEXTAREA') {
			<mat-form-field>
				<mat-label>{{ field().model.inlineHelp }}</mat-label>
				<textarea
					matInput
					cdkTextareaAutosize
					[disabled]="disabled()"
					[ngModel]="value()"
					(ngModelChange)="value.set($event)"></textarea>
			</mat-form-field>
		}
		@case ('DATE') {
			<app-date
				[field]="field()"
				[disabled]="disabled()"
				[(value)]="value" />
		}
		@case ('NUMBER') {
			@if (!isEQ5D()) {
				<div class="input-range-container">
					<h1>{{ isFieldValueValid() ? value() : 'NA' }}</h1>
					<div class="slider-row">
						<span>{{ field().model.minValue }}</span>
						<mat-slider
							discrete
							[min]="field().model.minValue"
							[max]="field().model.maxValue"
							[disabled]="disabled()">
							<input
								matSliderThumb
								[ngModel]="numberValue()"
								(ngModelChange)="setNumberValue($event)" />
						</mat-slider>
						<span>{{ field().model.maxValue }}</span>
					</div>
				</div>
			} @else {
				<div class="eq5d">
					<div class="eq5d-score">
						<span class="eq5d-value">{{ isFieldValueValid() ? value() : 'NA' }}</span>
					</div>
					<div class="eq5d-scale">
						<span class="eq5d-legend">The best health you can imagine</span>
						<div class="eq5d-slider">
							<input
								type="range"
								step="1"
								[min]="field().model.minValue"
								[max]="field().model.maxValue"
								[disabled]="disabled()"
								[ngModel]="numberValue()"
								(ngModelChange)="setNumberValue($event)" />
							<div class="eq5d-ticks">
								<span>{{ field().model.maxValue }}</span>
								<span>50</span>
								<span>{{ field().model.minValue }}</span>
							</div>
						</div>
						<span class="eq5d-legend">The worst health you can imagine</span>
					</div>
				</div>
			}
		}
	}

	@if (!field().model.required) {
		<div class="no-answer-container">
			@if (value() === '') {
				<span class="no-answer-notice">
					<mat-icon>warning</mat-icon>
					No answer has been provided
				</span>
			} @else {
				<span></span>
			}
			<button
				mat-stroked-button
				type="button"
				[disabled]="value() === '' || disabled()"
				(click)="emitNoAnswer()">
				No answer
			</button>
		</div>
	}
</div>

@if (field().model.required) {
	<p class="footer"><span class="bold">*</span> This field is required</p>
}

@if (isEQ5D()) {
	<p class="footer even-smaller-text">
		© EuroQol Research Foundation. EQ-5D™ is a trade mark of the EuroQol Research Foundation
	</p>
}
