<div
	class="workflow-container"
	[style]="style()">
	<mat-icon aria-hidden="false">
		{{ icon() }}
	</mat-icon>
	<span>
		{{ effectiveWorkflow()?.shortname | localizeMap }}
		@if (workflowStatus()) {
			- {{ workflowStatus()!.state.shortname | localizeMap }}
			@if (displayTriggerMessage()) {
				@let triggerMessage = workflowStatus()!.triggerMessage;
				:
				<span
					class="trigger-message"
					(click)="toggleTriggerMessage()"
					[matTooltip]="showFullTriggerMessage() ? 'Collapse' : 'Expand'">
					@if (showFullTriggerMessage()) {
						{{ triggerMessage }}
					} @else {
						{{ triggerMessage | abbreviate }}
					}
				</span>
			}
		}
	</span>
	@if (displayActions()) {
		@for (action of actions(); track action.id) {
			<button
				type="button"
				mat-flat-button
				(click)="executeWorkflowAction(action)">
				{{ action.shortname | localizeMap }}
			</button>
		}
	}

	@if (displayAuditTrail()) {
		<app-audit-trail-button [workflowStatus]="workflowStatus()!" />
	}
</div>
