.workflow-container {
	border-radius: var(--mat-sys-corner-extra-small);
	display: flex;
	align-items: center;
	padding: 0.5rem;
	gap: var(--gap);
}
span {
	flex: 1 1 0;
	min-width: 0;
	word-wrap: break-word;
}
.trigger-message {
	cursor: pointer;
}
