<div
	class="workflow-container"
	[class.rough]="rough()"
	[style.--workflow-color]="color()">
	<span class="workflow-details">
		<mat-icon
			[style.color]="'var(--workflow-color)'"
			aria-hidden="false">
			{{ icon() }}
		</mat-icon>
		{{ effectiveWorkflow()?.shortname | localizeMap }}
		@if (workflowStatus()) {
			- {{ workflowStatus()!.state.shortname | localizeMap }}
		}
		@if (displayTriggerMessage()) {
			@let triggerMessage = workflowStatus()!.triggerMessage;
			<span
				[class.expandable]="triggerMessage.length > MESSAGE_PREVIEW_LENGTH"
				(click)="toggleTriggerMessage()"
				[matTooltip]="
					triggerMessage.length > MESSAGE_PREVIEW_LENGTH ? (showFullTriggerMessage() ? 'Collapse' : 'Expand') : ''
				">
				:
				@if (showFullTriggerMessage()) {
					{{ triggerMessage }}
				} @else {
					{{ triggerMessage | abbreviate: MESSAGE_PREVIEW_LENGTH }}
				}
			</span>
		}
	</span>
	@if (displayActions()) {
		<span>
			@for (action of actions(); track action.id) {
				<button
					type="button"
					mat-flat-button
					(click)="executeWorkflowAction(action)">
					{{ action.shortname | localizeMap }}
				</button>
			}
		</span>
	}

	@if (displayAuditTrail()) {
		<app-audit-trail-button [workflowStatus]="workflowStatus()!" />
	}
</div>
