<h3>Configuration</h3>
<p>
	<a
		mat-flat-button
		[href]="editConfigurationLink()">
		Edit configuration
	</a>
	&nbsp;
	<button
		mat-flat-button
		(click)="reloadConfiguration()">
		Reload configuration
	</button>
</p>

<h3>Maintenance mode</h3>
<p>
	<button
		mat-flat-button
		(click)="toggleMaintenance(true)"
		[disabled]="inMaintenance()">
		Turn on maintenance mode
	</button>
	&nbsp;
	<button
		mat-flat-button
		(click)="toggleMaintenance(false)"
		[disabled]="!inMaintenance()">
		Turn off maintenance mode
	</button>
</p>

<h3>Debug mode</h3>
<p>
	<button
		mat-flat-button
		(click)="toggleDebug(true)"
		[disabled]="inDebug()">
		Turn on debug mode
	</button>
	&nbsp;
	<button
		mat-flat-button
		(click)="toggleDebug(false)"
		[disabled]="!inDebug()">
		Turn off debug mode
	</button>
</p>

<h3>Documentation</h3>
<a href="http://localhost:8080/api-docs.html">API Documentation (works only locally)</a>
