@if (loading()) {
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<div class="welcome-container">
	@if (study(); as study) {
		<h1>Welcome to the {{ study.shortname | localizer }} study</h1>
	}

	<div class="login-block">
		<button
			mat-flat-button
			type="button"
			[disabled]="loading()"
			[routerLink]="['/login-qrcode']">
			<mat-icon>qr_code</mat-icon>
			Sign in with the QR code
		</button>

		<h3>OR</h3>

		<form
			[formGroup]="loginForm"
			(ngSubmit)="login()">
			<mat-form-field>
				<mat-label>Access code</mat-label>
				<input
					matInput
					type="text"
					autocapitalize="none"
					autocorrect="off"
					formControlName="accessCode" />
			</mat-form-field>
			<button
				mat-flat-button
				type="submit"
				[disabled]="!loginForm.valid || loading()">
				<mat-icon>login</mat-icon>
				Sign in
			</button>
		</form>
	</div>
</div>
