<div class="welcome-container">

	@if (study) {
		<div class="welcome-block">
			<ion-text color="primary">
				<h1>Welcome to the {{ study.shortname | localizer }} study </h1>
			</ion-text>
		</div>
	}

	<div class="login-block">

		<ion-button
			expand="block"
			[routerLink]="['/login-qrcode']">
			<ion-icon slot="start" name="qr-code"></ion-icon>
			Sign in with the QR code
		</ion-button>

		<ion-text color="secondary">
			<h3>OR</h3>
		</ion-text>

		<form [formGroup]="loginForm" (ngSubmit)="login()">
			<ion-input
				label="Access code"
				label-placement="floating"
				fill="outline"
				name="accessCode"
				type="text"
				required
				formControlName="accessCode">
			</ion-input>
			<ion-button
				color="primary"
				expand="block"
				type="submit"
				[disabled]="!loginForm.valid">
				<ion-icon slot="start" name="log-in"></ion-icon>
				Sign In
			</ion-button>
		</form>

	</div>

</div>