<h1 mat-dialog-title>
	{{ field.model.shortname | localizeMap }}
</h1>

<mat-dialog-content>
	<table
		mat-table
		[dataSource]="events">
		<ng-container matColumnDef="event">
			<th
				mat-header-cell
				*matHeaderCellDef>
				Event
			</th>
			<td
				mat-cell
				*matCellDef="let event">
				{{ event.name }}
			</td>
		</ng-container>

		<ng-container matColumnDef="value">
			<th
				mat-header-cell
				*matHeaderCellDef>
				Value
			</th>
			<td
				mat-cell
				*matCellDef="let event">
				{{ event.value }}
			</td>
		</ng-container>

		<ng-container matColumnDef="by">
			<th
				mat-header-cell
				*matHeaderCellDef>
				By
			</th>
			<td
				mat-cell
				*matCellDef="let event">
				{{ event.by }}
			</td>
		</ng-container>

		<ng-container matColumnDef="date">
			<th
				mat-header-cell
				*matHeaderCellDef>
				Date
			</th>
			<td
				mat-cell
				*matCellDef="let event">
				{{ event.date | dateTimeUTC }}
			</td>
		</ng-container>

		<ng-container matColumnDef="context">
			<th
				mat-header-cell
				*matHeaderCellDef>
				Context
			</th>
			<td
				mat-cell
				*matCellDef="let event">
				{{ event.context }}
			</td>
		</ng-container>

		<tr
			mat-header-row
			*matHeaderRowDef="columnsToDisplay"></tr>
		<tr
			mat-row
			*matRowDef="let event; columns: columnsToDisplay"
			(mouseover)="highlightRelatedEvents(event)"
			[class.highlighted]="event.entityPk === selectedEntityPk"></tr>
	</table>
</mat-dialog-content>

<mat-dialog-actions>
	<button
		mat-flat-button
		mat-dialog-close>
		Close
	</button>
</mat-dialog-actions>
