<h1 mat-dialog-title>Provide the rationale for {{ deletion ? 'removal' : 'restoration' }}</h1>

<form name="rationale">
	<mat-dialog-content>
		<mat-form-field>
			<textarea
				matInput
				[formControl]="rationale"
				name="rationale"
				placeholder="Rationale"
				required
				cdkAutosizeMinRows="2"
				cdkAutoSizeMaxRows="4">
			</textarea>
			@if (rationale.hasError('required')) {
				<mat-error>Rationale is required</mat-error>
			}
		</mat-form-field>
	</mat-dialog-content>

	<mat-dialog-actions>
		<button
			type="button"
			mat-flat-button
			mat-dialog-close>
			Cancel
		</button>
		<button
			mat-flat-button
			[color]="deletion ? 'warn' : 'primary'"
			[disabled]="rationale.errors"
			[mat-dialog-close]="rationale.value">
			{{ deletion ? 'Remove' : 'Restore' }}
		</button>
	</mat-dialog-actions>
</form>
