<div class="tree-node">
	<div [ngClass]="['node-content', 'clickable', getCategoryTheme(), expanded ? 'selected' : '', collapsed ? 'node-collapsed' : '']"
	     (click)="onCategoryClick()"
	     [matTooltip]="collapsed ? getCategoryLabel() : ''"
	     matTooltipPosition="right">
		<mat-icon class="node-icon">{{ getCategoryIcon() }}</mat-icon>
		@if (!collapsed) {
			<span class="node-label">{{ getCategoryLabel() }}</span>
		}
	</div>

	@if (expanded && treeNodes.length > 0 && !collapsed) {
		<div class="node-children">
			@for (node of treeNodes; track node.id) {
				<ng-container *ngTemplateOutlet="nodeTemplate; context: {$implicit: node}"></ng-container>
			}
		</div>
	}
</div>

<ng-template #nodeTemplate let-node>
	<div [ngClass]="['node', node.themeClass, node.selected ? 'selected' : '']">
		<mat-icon class="node-icon">{{ node.icon }}</mat-icon>
		@if (!collapsed) {
			<span class="node-label">{{ node.label }}</span>
		}
	</div>
</ng-template>
