@if (widget().textBefore) {
	<p [innerHTML]="widget().textBefore"></p>
}

@if (widget().type === widgetType.CHART) {
	<app-chart-widget
		[id]="widget().parameters['chart'].toString()"
		[scopes]="scopes()"
		[criteria]="criteria()">
	</app-chart-widget>
} @else if (widget().type === widgetType.GENERAL_INFORMATIONS) {
	<app-general-info-widget></app-general-info-widget>
} @else if (widget().type === widgetType.LOCK_SUMMARY) {
	<app-lock-summary-widget [scopes]="scopes()"></app-lock-summary-widget>
} @else if (widget().type === widgetType.RESOURCE) {
	<app-resource-widget [category]="widget().parameters['category'].toString()"></app-resource-widget>
} @else if (widget().type === widgetType.SCOPE_OVERDUE) {
	<app-overdue-widget
		[id]="widget().parameters['OVERDUE_TYPE'].toString()"
		[scopes]="scopes()"
		[specificColumnName]="widget().parameters['SPECIFIC_COLUMN_NAME'].toString()"
		(scopesLoaded)="passEventToParent($event)">
	</app-overdue-widget>
} @else if (widget().type === widgetType.WELCOME_TEXT) {
	<app-welcome-text></app-welcome-text>
} @else if (widget().type === widgetType.WORKFLOW) {
	<app-workflow-widget
		[id]="widget().parameters['workflow'].toString()"
		[scopes]="scopes()"
		(workflowsLoaded)="passEventToParent($event)">
	</app-workflow-widget>
} @else if (widget().type === widgetType.WORKFLOWS_SUMMARY) {
	<app-workflow-summary-widget
		[id]="widget().parameters['summary'].toString()"
		[scopes]="scopes()">
	</app-workflow-summary-widget>
}

@if (widget().textAfter) {
	<p [innerHTML]="widget().textAfter"></p>
}
