<form (ngSubmit)="saveDatasets()">
	<div
		id="form-content"
		class="content">
		<h1>
			{{ form().model.shortname | localizeMap }}
			<app-audit-trail-button [form]="form()" />
		</h1>
		@for (layout of layouts(); track layout.id) {
			@if (layout.type === layoutType.SINGLE) {
				<app-layout
					[layout]="layout"
					[datasets]="datasets()"
					[layoutUid]="layout.id"
					[disabled]="!form().canWrite">
				</app-layout>
			} @else {
				<app-multiple-layout
					[layout]="layout"
					[datasets]="datasets()"
					[disabled]="!form().canWrite">
				</app-multiple-layout>
			}
		}
	</div>

	@if (formLoading()) {
		<mat-progress-bar mode="indeterminate"></mat-progress-bar>
	}

	<div id="form-actions">
		<div id="form-save">
			@if (dirty()) {
				<span>You have unsaved values</span>
			}

			@if (form().canWrite) {
				<span class="toolbar-spacer"></span>
				<button
					mat-flat-button
					[class.loading]="saveLoading()"
					[disabled]="formLoading() || saveLoading()"
					type="submit">
					Save
				</button>
			}
		</div>

		<div class="workflow-statuses">
			<!-- Track statuses using their pk or their workflow id because aggregate workflow statuses don't have any pk -->
			@for (status of workflowStatuses(); track status.pk || status.workflowId) {
				<app-workflow-status
					[entity]="workflowableEntity.FORM"
					[workflowable]="form()"
					[workflowStatus]="status"
					(actionResponse)="onWorkflowExecution($event)">
				</app-workflow-status>
			}
			<!-- Display workflows that can be created -->
			@for (workflow of form().possibleWorkflows; track workflow.id) {
				<app-workflow-status
					[entity]="workflowableEntity.FORM"
					[workflowable]="form()"
					[workflow]="workflow"
					(actionResponse)="onWorkflowExecution($event)">
				</app-workflow-status>
			}
		</div>
	</div>
</form>
