<form
	[formGroup]="robotCreationForm"
	(ngSubmit)="save()"
	class="centered">
	<p class="error">{{ error() }}</p>

	<p>
		<mat-form-field>
			<mat-label>Name</mat-label>
			<input
				matInput
				formControlName="name"
				required />
		</mat-form-field>
	</p>

	<p>
		<mat-form-field>
			<mat-label>Key</mat-label>
			<input
				matInput
				formControlName="key"
				placeholder="Key" />
			<mat-hint>Leave blank to auto generate a key</mat-hint>
		</mat-form-field>
	</p>

	<p formGroupName="role">
		<mat-form-field>
			<mat-label>Profile</mat-label>
			<mat-select
				formControlName="profileId"
				required>
				@for (profile of profiles() | sort: 'id'; track profile.id) {
					<mat-option [value]="profile.id">
						{{ profile.shortname | localizeMap }}
					</mat-option>
				}
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Scope</mat-label>
			<app-scope-finder
				formControlName="scopePk"
				required></app-scope-finder>
		</mat-form-field>
	</p>

	<p class="actions">
		<button
			mat-flat-button
			type="submit"
			[disabled]="robotCreationForm.invalid">
			Save
		</button>
	</p>
</form>
