[Unit]
Description=Rodano

[Service]
WorkingDirectory={{ rodano_path }}
#do not use -d (daemon mode) for Docker command to let systemd handle the process
ExecStart=/usr/bin/docker compose --env-file {{ rodano_path }}/env up
ExecStop=/usr/bin/docker compose --env-file {{ rodano_path }}/env down
SyslogIdentifier=rodano
#restart service if the app crashes
Restart=always
RestartSec=10

[Install]
#instance will be run if the system reboot (default.target starts when systemd starts)
WantedBy=default.target
