<h2>Configuration</h2>
<form [formGroup]="enrollmentForm">
	<p>
		<mat-form-field>
			<mat-label>Type</mat-label>
			<mat-select formControlName="type">
				@for (enrollmentType of enrollmentTypes; track enrollmentType) {
					<mat-option [value]="enrollmentType">
						{{ enrollmentType | capitalizeFirst }}
					</mat-option>
				}
			</mat-select>
		</mat-form-field>
		<mat-icon
			matTooltip="Automatic: enroll automatically scopes as soon as they match the criteria. Manual: require a user to manually enroll a scope."
			>info</mat-icon
		>
	</p>

	<p>
		<mat-checkbox formControlName="system"> System enrollment </mat-checkbox>
		<mat-icon
			matTooltip="If checked, bypass white list of containers (useful for groups managed by the system). If not checked, only descendants of one the container in the white list can be enrolled."
			>info</mat-icon
		>
	</p>

	@if (!enrollmentForm.get('system')?.value) {
		<p>
			<mat-form-field>
				<mat-label>Scopes</mat-label>
				<mat-select
					formControlName="rootScopeIds"
					multiple>
					@for (scopeModel of scopeModels(); track scopeModel.id) {
						@if (getScopes(scopeModel.id).length > 0) {
							<mat-optgroup [label]="scopeModel.shortname | localizeMap">
								@for (scope of getScopes(scopeModel.id); track scope.id) {
									<mat-option [value]="scope.id">
										{{ scope.shortname }}
									</mat-option>
								}
							</mat-optgroup>
						}
					}
				</mat-select>
			</mat-form-field>
		</p>
	}

	@for (criterion of criteria.controls; track $index; let i = $index) {
		<p class="inline-fields">
			<mat-form-field>
				<mat-label>Field</mat-label>
				<mat-select [formControl]="getControl(i, 0)">
					@for (fieldModel of fieldModels(); track fieldModel.id) {
						<mat-option [value]="fieldModel.id">
							{{ fieldModel.shortname | localizeMap }}
						</mat-option>
					}
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Operator</mat-label>
				<mat-select [formControl]="getControl(i, 1)">
					@for (operator of getOperators(i); track operator) {
						<mat-option [value]="operator">
							{{ operator | capitalizeFirst }}
						</mat-option>
					}
				</mat-select>
			</mat-form-field>
			@if (getControl(i, 0).value && getPossibleValues(i).length > 0) {
				<mat-form-field>
					<mat-label>Value</mat-label>
					<mat-select [formControl]="getControl(i, 2)">
						@for (possibleValue of getPossibleValues(i); track possibleValue.id) {
							<mat-option [value]="possibleValue.id">
								{{ possibleValue.id | capitalizeFirst }}
							</mat-option>
						}
					</mat-select>
				</mat-form-field>
			}
			@if (!getControl(i, 0).value || getPossibleValues(i).length === 0) {
				<mat-form-field>
					<mat-label>Value</mat-label>
					<input
						matInput
						[formControl]="getControl(i, 2)" />
				</mat-form-field>
			}
			<button
				mat-flat-button
				(click)="deleteCriterion(i)">
				Remove
			</button>
		</p>
	}

	<p>
		<button
			mat-flat-button
			(click)="addCriterion()">
			Add criterion
		</button>
	</p>

	<p>
		@if (childScopeModel()) {
			@if (enrollableCount() !== undefined) {
				{{ enrollableCount() }}
			} @else {
				Loading
			}
			enrollable {{ childScopeModel()!.pluralShortname | localizeMap | lowercase }}
		}
	</p>

	<p>
		<button
			mat-flat-button
			[disabled]="!enrollmentForm.valid"
			(click)="save()">
			Save
		</button>
	</p>
</form>

<h2>Status</h2>
<p>
	<button
		mat-flat-button
		(click)="enroll()">
		Perform enrollment
	</button>
	<button
		mat-flat-button
		(click)="unenroll()">
		Clean enrollment
	</button>
</p>

<table
	mat-table
	[dataSource]="childScopes()">
	<tr
		*matNoDataRow
		class="no-data-row">
		<td [attr.colspan]="columnsToDisplay.length">No data</td>
	</tr>

	<ng-container matColumnDef="code">
		<th
			mat-header-cell
			*matHeaderCellDef>
			Code
		</th>
		<td
			mat-cell
			*matCellDef="let scope">
			{{ scope.code }}
		</td>
	</ng-container>

	<ng-container matColumnDef="shortname">
		<th
			mat-header-cell
			*matHeaderCellDef>
			Name
		</th>
		<td
			mat-cell
			*matCellDef="let scope">
			{{ scope.shortname }}
		</td>
	</ng-container>

	<ng-container matColumnDef="startDate">
		<th
			mat-header-cell
			*matHeaderCellDef>
			Start Date
		</th>
		<td
			mat-cell
			*matCellDef="let scope">
			{{ scope.startDate | dateTimeUTC }}
		</td>
	</ng-container>

	<ng-container matColumnDef="stopDate">
		<th
			mat-header-cell
			*matHeaderCellDef>
			Stop Date
		</th>
		<td
			mat-cell
			*matCellDef="let scope">
			{{ scope.stopDate | dateTimeUTC }}
		</td>
	</ng-container>

	<tr
		mat-header-row
		*matHeaderRowDef="columnsToDisplay"></tr>
	<tr
		mat-row
		*matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
