@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/roboto-v47-latin-regular.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/roboto-v47-latin-700.woff2') format('woff2');
}

:root {
	/* text */
	--font-family: 'Roboto', sans-serif;
	--text-color: #333;
	--highlight-color: #0dc0c0;

	--light-highlight-surface-color: #eee;

	--highlight-surface-color: #0dc0c0;
	--highlight-surface-text-color: #fff;
	--padding: 0.5rem;
}
::selection {
	color: white;
	background: var(--highlight-color);
}

html {
	height: 100%;
}
body {
	font-family: var(--font-family);
	color: var(--text-color);
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}
header {
	padding: var(--padding);
	background-color: var(--highlight-surface-color);
	font-size: 1.8rem;
	& > a {
		color: var(--highlight-surface-text-color);
	}
}
a {
	color: var(--highlight-color);
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
.content {
	display: flex;
	flex-grow: 1;
	min-height: 0;
}
aside {
	flex-basis: 20%;
	background-color: var(--light-highlight-surface-color);
	border-right: 1px solid var(--highlight-surface-color);
	padding: var(--padding);
	& ol {
		margin: 0;
		padding: 0;
		& li {
			list-style: none;
			& ol {
				padding-left: 1rem;
			}
		}
	}
}
main {
	flex-basis: 80%;
	height: 100%;
	overflow-x: auto;
	box-sizing: border-box;
}
article {
	max-width: 50rem;
	padding: var(--padding);
	box-sizing: border-box;
	margin: auto;
	text-align: justify;
	&:has(.diagram) {
		height: 100%;
	}
}
footer {
	background-color: var(--highlight-surface-color);
	color: var(--highlight-surface-text-color);
	padding: var(--padding);
	text-align: center;
	font-size: 0.8rem;
}

h1 {
	text-align: center;
	margin-top: 0;
	font-size: 2rem;
}
dt {
	font-weight: bold;
}
img {
	max-width: 100%;
}
figure {
	margin: 2rem;
	text-align: center;
}
figcaption {
	font-weight: bold;
	margin-top: 0.5rem;
}
table {
	width: 100%;
	border-collapse: collapse;
	& th, td {
		border: 0.05rem solid var(--text-color);
		padding: 0.2rem;
		text-align: start;
	}
}

#table-of-contents {
	&:empty {
		display: none;
	}
	& li {
		list-style: disc;
	}
}

.diagram {
	border: 0;
	width: 100%;
	height: 80%;
}
