<div class="detail-container">
	@if (!selectedNode) {
		<div class="welcome-state">
			<div class="welcome-card">
				<mat-icon>settings_suggest</mat-icon>
				<h1>Welcome to the Configurator</h1>
				<p>Start by configuring your project settings or add configuration entities.</p>
				<div class="welcome-hint">
					<span class="hint-text">Select an item from the tree to get started</span>
				</div>
			</div>
		</div>
	} @else {
		@switch (selectedNodeType) {
			@case ('project-settings') {
				<app-project-settings-detail
					[projectId]="projectId"
					[project]="project"
					[modifiedFields]="modifiedFields"
					(fieldsUpdated)="fieldsUpdated.emit($event)">
				</app-project-settings-detail>
			}
			@case ('scope-models') {
				<app-scope-models-list
					[projectId]="projectId"
					[project]="project"
					[selectedNode]="selectedNode"
					(nodeSelected)="onScopeModelSelected($event)"
					(scopeModelsChanged)="onScopeModelsChanged($event)"
					(scopeModelContextChanged)="onScopeModelContextChanged($event)">
				</app-scope-models-list>
			}
			@case ('dataset-models') {
				<app-dataset-model-list
					[projectId]="projectId"
					[project]="project"
					[selectedNode]="selectedNode"
					(nodeSelected)="onDatasetModelSelected($event)"
					(datasetModelChanged)="onDatasetModelsChanged($event)"
					(datasetModelContextChanged)="onDatasetModelContextChanged($event)">
				</app-dataset-model-list>
			}
			@case ('validators') {
				<app-validators-list
					[projectId]="projectId"
					[project]="project"
					[selectedNode]="selectedNode"
					(nodeSelected)="onValidatorSelected($event)"
					(validatorsChanged)="onValidatorsChanged($event)"
					(validatorContextChanged)="onValidatorContextChanged($event)">
				</app-validators-list>
			}
			@default {
				<div class="detail-header">
					<h2>{{ selectedNode }}</h2>
				</div>
				<div class="tab-content">
					<div class="empty-state">
						<mat-icon>construction</mat-icon>
						<h3>Coming Soon</h3>
						<p>Configuration for {{ selectedNode }} will be available here</p>
					</div>
				</div>
			}
		}
	}
</div>
