<h1>ePro</h1>

<div class="browse-entities">
	<form
		[formGroup]="searchForm"
		(ngSubmit)="search()">
		<mat-form-field>
			<mat-label>Code or name</mat-label>
			<input
				matInput
				formControlName="fullText"
				name="fullText" />
		</mat-form-field>

		@if (parentScopes.length > 0) {
			<mat-form-field class="scope-picker">
				<mat-label>Parent</mat-label>
				<mat-select
					formControlName="parentPk"
					name="parentPk">
					<mat-option></mat-option>
					@for (parentScope of parentScopes; track parentScope.pk) {
						<mat-option [value]="[parentScope.pk]">
							{{ parentScope | scopeCodeShortname }}
						</mat-option>
					}
				</mat-select>
			</mat-form-field>
		}

		<button
			mat-flat-button
			type="submit">
			Search
		</button>
		<button
			mat-stroked-button
			type="reset"
			(click)="reset()">
			Clear
		</button>
	</form>
</div>

<table
	mat-table
	[dataSource]="scopes.objects">
	<tr
		*matNoDataRow
		class="no-data-row">
		<td [attr.colspan]="columnsToDisplay.length">No data</td>
	</tr>

	<ng-container matColumnDef="code">
		<th
			mat-header-cell
			*matHeaderCellDef>
			Code
		</th>
		<td
			mat-cell
			*matCellDef="let scope">
			{{ scope.code }}
		</td>
	</ng-container>

	<ng-container matColumnDef="name">
		<th
			mat-header-cell
			*matHeaderCellDef>
			Name
		</th>
		<td
			mat-cell
			*matCellDef="let scope">
			{{ scope.shortname }}
		</td>
	</ng-container>

	<ng-container matColumnDef="status">
		<th
			mat-header-cell
			*matHeaderCellDef>
			Status
		</th>
		<td
			mat-cell
			*matCellDef="let scope">
			{{ hasBeenInvited(scope) ? 'Invited' : 'Awaiting invitation' }}
		</td>
	</ng-container>

	<ng-container matColumnDef="actions">
		<th
			mat-header-cell
			*matHeaderCellDef>
			Actions
		</th>
		<td
			mat-cell
			*matCellDef="let scope">
			@if (hasBeenInvited(scope)) {
				<button
					(click)="invite(scope)"
					mat-stroked-button>
					Show invitation
				</button>
				<button
					(click)="revoke(scope)"
					mat-stroked-button>
					Revoke
				</button>
			} @else {
				<button
					(click)="invite(scope)"
					mat-stroked-button>
					Invite
				</button>
			}
		</td>
	</ng-container>

	<tr
		mat-header-row
		*matHeaderRowDef="columnsToDisplay"></tr>
	<tr
		mat-row
		*matRowDef="let row; columns: columnsToDisplay"></tr>
</table>

<mat-divider></mat-divider>
<mat-toolbar>
	<mat-toolbar-row>
		<span class="toolbar-spacer"></span>
		<mat-paginator
			[pageSize]="scopes.paging.pageSize"
			[length]="scopes.paging.total">
		</mat-paginator>
	</mat-toolbar-row>
</mat-toolbar>
