<mat-toolbar class="page-toolbar">
	<button
		mat-icon-button
		type="button"
		aria-label="Back"
		(click)="back()">
		<mat-icon>arrow_back</mat-icon>
	</button>
	@if (dataset(); as dataset) {
		<span class="toolbar-title">{{ dataset.model.shortname | localizer }}</span>
	}
</mat-toolbar>
<mat-progress-bar
	mode="determinate"
	[value]="progress()"></mat-progress-bar>

<div class="content">
	@if (rootScope(); as rootScope) {
		@if (event(); as event) {
			@if (dataset(); as dataset) {
				@if (field(); as field) {
					<app-question
						[rootScope]="rootScope"
						[event]="event"
						[field]="field"
						[isEQ5D]="dataset.modelId === 'EQ5D'"
						[(value)]="value"
						(noAnswer)="onNoAnswer()">
					</app-question>
				}
			}
		}
	}
</div>

@if (field()) {
	<mat-toolbar class="actions">
		<button
			mat-flat-button
			type="button"
			(click)="previous()">
			{{ previousLabel() }}
		</button>
		<span class="toolbar-spacer"></span>
		<button
			mat-flat-button
			type="button"
			[disabled]="value() === undefined"
			(click)="next()">
			{{ nextLabel() }}
		</button>
	</mat-toolbar>
}
