<aside>
	<nav class="side-navigation">
		<ol>
			@for (section of layout.sections; track section.menuSectionId) {
				<li>
					<span>
						<a
							[routerLink]="['./', {sectionId: section.menuSectionId}]"
							[class.active]="section.menuSectionId === selectedSection.menuSectionId"
							class="main-content">
							{{ section.labels | localizeMap }}
							@if (sectionBadges.hasOwnProperty(section.menuSectionId)) {
								<span class="badge">{{ sectionBadges[section.menuSectionId] }}</span>
							}
						</a>
					</span>
				</li>
			}
		</ol>
	</nav>
</aside>
<main class="content">
	@for (section of layout.sections; track section.menuSectionId) {
		<div [hidden]="section.menuSectionId !== selectedSection.menuSectionId">
			<h1>{{ section.labels | localizeMap }}</h1>
			<div class="cms-layout">
				@for (widget of section.widgets; track $index) {
					<app-generic-widget
						[widget]="widget"
						class="widget"
						[class.full-width]="widget.width === 'FULL'"
						[class.half-width]="widget.width === 'HALF'"
						(notifyParent)="updateBadges(section.menuSectionId, $event)">
					</app-generic-widget>
				}
			</div>
		</div>
	}
</main>
