<h2>Study</h2>
<ul>
	<li>
		Name: <strong>{{ info?.build?.name }}</strong>
	</li>
	<li>
		Version: <strong>{{ info?.build?.version }}</strong>
	</li>
	<li>
		Rodano version: <strong>{{ info?.config?.kv }}</strong>
	</li>
	<li>
		Configuration sha1: <strong>{{ info?.config?.sha1 }}</strong>
	</li>
	<li>
		Configuration latest edition date: <strong>{{ info?.config?.date | dateTimeUTC }}</strong>
	</li>
</ul>

<h2>Deployment</h2>
<ul>
	<li>
		User: <strong>{{ info?.deployment?.user }}</strong>
	</li>
	<li>
		Date: <strong>{{ info?.deployment?.date }}</strong>
	</li>
	<li>
		Commit sha1: <strong>{{ info?.deployment?.commit_sha1 }}</strong>
	</li>
	<li>
		Information: <strong>{{ info?.deployment?.info }}</strong>
	</li>
</ul>

<h2>Unique identifier</h2>
<ul>
	<li>
		UID: <strong>{{ info?.instance?.uid }}</strong>
	</li>
</ul>

<h2>Status</h2>
<table>
	<tr>
		<th>Component</th>
		<th>Status</th>
		<th>Details</th>
	</tr>
	<tr [class]="getStatusClass(health?.status)">
		<td>Global</td>
		<td>
			<strong>{{ health?.status }}</strong>
		</td>
		<td></td>
	</tr>
	<tr [class]="getStatusClass(health?.components?.db?.status)">
		<td>Database</td>
		<td>
			<strong>{{ health?.components?.db?.status }}</strong>
		</td>
		<td></td>
	</tr>
	<tr [class]="getStatusClass(health?.components?.db?.status)">
		<td>Disk space</td>
		<td>
			<strong>{{ health?.components?.db?.status }}</strong>
		</td>
		<td>
			{{ health?.components?.diskSpace?.details?.free | humanReadableFileSize }} /
			{{ health?.components?.diskSpace?.details?.total | humanReadableFileSize }}
		</td>
	</tr>
</table>
