.modifications-row {
	height: 0;
}
.mat-column-modifications {
	margin: 0;
	padding: 0;

	& > div {
		height: 0;
		background-color: var(--light-highlight-color);
		&.expanded {
			height: auto;
		}
		& table {
			width: 100%;
			border-collapse: collapse;

			& th,
			& td {
				border: 1px solid var(--light-border-color);
				padding: 0.2rem;
			}
			& .value-column {
				width: 35%;
			}
		}
	}
}
