/* display flex to make the header and the content fill 100% of the height */
header {
	height: 4rem;
}
#stamp {
	color: white;
	font-size: 2rem;
	font-weight: bold;
	background-color: red;
	width: 20rem; /* must be wide enough to overflow the corner when rotated */
	height: 3rem;
	line-height: 3rem;
	position: fixed;
	/* position the center of the box at the position (0,0) */
	top: -1.5rem; /* half height */
	left: -10rem; /* half width */
	text-align: center;
	z-index: 10;
	transform-origin: center;
	transform: translate(2.5rem, 2.5rem) rotate(-45deg);
	user-select: none;
	pointer-events: none;
}
#content {
	flex: 1;
	height: calc(100vh - 5.5rem);
	box-sizing: border-box;
	overflow: auto;

	/* content is padded, except for pages that have an aside section (as the dashboard) */
	&:not(:has(aside)) {
		padding: 1rem;
	}
}
footer {
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	background-color: var(--mat-sys-primary);
	color: rgba(255, 255, 255, 0.75);
	font-size: small;

	& a {
		color: inherit;
	}
}
