<!--
display header only if a study is available
that's because the header comes with Rodano default color, which might not match the study's theme
and we want to avoid the header to flicker
-->
@if (study()) {
	@if (study()!.environment !== environment.PROD) {
		<div id="stamp">{{ study()!.environment }}</div>
	}
	<header>
		<app-header [study]="study()!"></app-header>
	</header>
}

<!--this div container is required as router-outlet cannot be a container, because the content is appended after the router-outlet, not inside-->
<div id="content">
	@if (inMaintenance()) {
		<h1>Maintenance</h1>
		<p>The website is currently under maintenance. Please come back later.</p>
		<p>
			<strong>Standard users:</strong> You may complete your current task by clicking the button below. Please note that
			once your session ends, logging in will be unavailable until maintenance is complete.
		</p>
		<p><strong>Administrators:</strong> Click the button below to continue using the application normally.</p>
		<p>
			<button (click)="bypassMaintenance()">Continue using the application</button>
		</p>
	} @else {
		<router-outlet></router-outlet>
	}
</div>

<!-- same as for the header, display the footer only if a study is available -->
@if (study()) {
	<footer>
		Powered by <a href="https://www.rodano.ch">Rodano</a>. Distributed under AGPLv3. Access source code
		<a href="https://github.com/rodano/rodano">here</a>.
	</footer>
}
