/* display flex to make the header and the content fill 100% of the height */
header {
	height: 4rem;
}
div {
	flex: 1;
	height: calc(100vh - 5.5rem);
	box-sizing: border-box;
	overflow: auto;

	/* content is padded, except for pages that have an aside section (as the dashboard) */
	&:not(:has(aside)) {
		padding: 1rem;
	}
}

footer {
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	background-color: var(--mat-sys-primary);
	color: rgba(255, 255, 255, 0.75);
	font-size: small;

	& a {
		color: inherit;
	}
}
