<h1 mat-dialog-title><strong>Subject:</strong> {{ mail.subject }}</h1>

<mat-dialog-content>
	<strong>From:</strong> {{ mail.sender }}
	<br />
	<strong>To:</strong> {{ formatRecipients(mail.recipients) }}
	<br />
	<strong>Sent on:</strong> {{ mail.sentTime | dateTimeUTC }}
	<br />
	<strong>Reply to:</strong> {{ mail.replyTo }}
	<br />
	<strong>Text body:</strong>
	<pre class="text-body">{{ mail.textBody }}</pre>
	<br />
	<strong>HTML body:</strong>
	<div
		class="text-html"
		[innerHTML]="htmlBody()"></div>
	<br />
	<strong>Origin:</strong> {{ mail.origin }}
	<br />
	<strong>Status:</strong> {{ mail.status }}
	<br />
	<strong>Intent:</strong> {{ mail.intent }}
	<br />
	<strong>Attempts:</strong> {{ mail.attempts }}
	<br />
	<strong>Attachments:</strong>
	@if (mail.attachments.length > 0) {
		<ul>
			@for (attachment of mail.attachments; track attachment.pk) {
				<li>
					<a
						[appDownload]="getAttachmentUrl(mail.pk, attachment.pk)"
						download>
						{{ attachment.filename }}
					</a>
				</li>
			}
		</ul>
	} @else {
		None
	}
</mat-dialog-content>

<mat-dialog-actions>
	<button
		mat-flat-button
		mat-dialog-close>
		Close
	</button>
</mat-dialog-actions>
