<form
	name="changePasswordForm"
	[formGroup]="changePasswordForm"
	(ngSubmit)="updatePassword()">
	<mat-card appearance="outlined">
		<mat-card-header>
			<mat-card-title>Change password</mat-card-title>
			<mat-card-subtitle>
				@if (changeRequestContext === ChangePasswordContext.PASSWORD_RESET) {
					<p>Please enter a new password for your account:</p>
				} @else if (changeRequestContext === ChangePasswordContext.SYSTEM_REQUEST) {
					<p>Your password is no longer valid. You are kindly asked to change it.</p>
				} @else if (changeRequestContext === ChangePasswordContext.USER_REQUEST) {
					<p>Type in your current password and your new password.</p>
				}
			</mat-card-subtitle>
		</mat-card-header>

		<mat-card-content>
			<p class="error">{{ errorText }}</p>
			<!--do no use a type="hidden" field, this does not work-->
			<input
				formControlName="email"
				autocomplete="username email"
				style="display: none" />

			@if (changeRequestContext !== ChangePasswordContext.PASSWORD_RESET) {
				<p>
					<mat-form-field class="full-width">
						<mat-label>Current password</mat-label>
						<input
							matInput
							formControlName="currentPassword"
							type="password"
							autocomplete="current-password"
							required />
					</mat-form-field>
				</p>
			}

			<p>
				<mat-form-field class="full-width">
					<mat-label>New password</mat-label>
					<input
						matInput
						formControlName="password"
						type="password"
						autocomplete="new-password"
						required />
				</mat-form-field>
			</p>

			<p>
				<mat-form-field class="full-width">
					<mat-label>Confirm new password</mat-label>
					<input
						matInput
						formControlName="confirmPassword"
						type="password"
						autocomplete="new-password"
						required />
				</mat-form-field>
			</p>
		</mat-card-content>

		<mat-card-actions align="end">
			<button
				mat-flat-button
				type="submit"
				[class.loading]="loading"
				[disabled]="loading || changePasswordForm.invalid">
				Update password
			</button>
		</mat-card-actions>
	</mat-card>
</form>
