<mat-toolbar class="page-toolbar">
	<span class="toolbar-title">Sign in</span>
</mat-toolbar>
@if (loading()) {
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<div class="content">
	<form
		[formGroup]="loginForm"
		(ngSubmit)="login()">
		<mat-form-field>
			<mat-label>E-mail</mat-label>
			<input
				matInput
				type="email"
				autocapitalize="none"
				autocorrect="off"
				formControlName="email" />
		</mat-form-field>

		<mat-form-field>
			<mat-label>Password</mat-label>
			<input
				matInput
				type="password"
				autocapitalize="none"
				autocorrect="off"
				formControlName="password" />
		</mat-form-field>

		<button
			mat-flat-button
			type="submit"
			[disabled]="!loginForm.valid || loading()">
			<mat-icon>login</mat-icon>
			Sign in
		</button>
	</form>
</div>
