<h2 class="dialog-title">Edit Documentation</h2>

<div class="dialog-content">
	<p class="hint">
		If the action is documentable, the user will be asked to provide a rationale to justify why he is doing the action. It is possible to configure a list of predefined rationales that will be presented to the user (but the user will always be able to provide a custom rationale).
	</p>

	<form [formGroup]="form" class="settings-form">
		<div class="form-field">
			<mat-checkbox formControlName="documentable">Documentable</mat-checkbox>
		</div>

		@if (documentable) {
			<div class="form-field">
				<div class="section-header">
					<h3>Documentation Options</h3>
					<button type="button" class="btn-add-item" (click)="addOption()">
						<mat-icon>add</mat-icon>
						Add Option
					</button>
				</div>

				<p class="hint">Predefined rationale options presented to the user. The user can always provide a custom one.</p>

				@if (options.controls.length === 0) {
					<div class="empty-state">
						<mat-icon>description</mat-icon>
						<p>No options configured. Click "Add Option" to add one.</p>
					</div>
				} @else {
					<mat-tab-group class="global-lang-tabs">
						@for (lang of availableLanguages; track lang.languageCode) {
							@if (lang.languageCode) {
								<mat-tab [label]="getLanguageLabel(lang.languageCode, lang.isDefault ?? false)">
									<div class="tab-content">
										@for (option of options.controls; track $index; let i = $index) {
											<div class="option-row" [formGroup]="$any(option)">
												<div class="form-field">
													<input
														type="text"
														[formControlName]="lang.languageCode"
														placeholder="Rationale text">
												</div>
												<button type="button" class="btn-delete" (click)="removeOption(i)">
													<mat-icon>delete</mat-icon>
												</button>
											</div>
										}
									</div>
								</mat-tab>
							}
						}
					</mat-tab-group>
				}
			</div>
		}
	</form>
</div>

<div class="dialog-actions">
	<button class="btn-secondary" (click)="onCancel()">Cancel</button>
	<button class="btn-primary" (click)="onSave()">Save Changes</button>
</div>
